.English_words {
  display: inline-block;
  position: relative;
  margin: 20px;
  height: 250px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3%;
  text-decoration: none;
  transition: 0.5s;
}

.English_words:hover {
    cursor: pointer;
}
